server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
            allowCredentials: true
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1.0/blogsite/user/**

        - id: blog-service
          uri: http://localhost:8091
          predicates:
            - Path=/api/v1.0/blogsite/blog/**
  logging:
    level:
      org.springframework.cloud.gateway: DEBUG
      reactor.netty.http.client: DEBUG
